*{
  padding: 0;
  margin: 0em;
  box-sizing: border-box;
}
body{
  font-family: Helvetica;
  background-image: url(../img/bg.png);
  background-size: cover;
  background-attachment: fixed;
  opacity: 90%;
  color: #000;
}
body::-webkit-scrollbar{
  width: 0.5em;
}
body::-webkit-scrollbar-thumb{
  background-color: #757780;
  border-radius: 0.5em;
}
#navBar{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
  background-color: #000;
}
.navItems{
  padding: 1em;
  margin-right: 0.5em;
  font-size: 1.1em;
  text-decoration: none;
  color: #ffffff;
}
.navItems:hover {
  background-color: #111;
}
#logo{
  width: 5em;
  position: absolute;
  top: 1em;
  left: 47%;
  cursor: pointer;
}
#title{
  color: #ffffff;
}
/***********MAIN CONTAINER***********/
#main-container{
  width: 100%;
  margin: 0em auto;
  padding: 1em;
}
h2{
  display: none;
}
/**************HOME PAGE****************/
.page{
  display: grid;
  grid-template-rows: auto auto;
  justify-content: space-between;
  margin-top: 2em;
  padding: 0em 5em;
}
#home{
  display: grid;
  place-items: center;
  font-size: 1.7em;
  font-family: Helvetica;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
}
.homeItems{
  margin: auto;
  padding: 0em 5em;
  margin-top: 8em;
}
.homeItems a{
  padding: 0.5em;
  margin-right: 0.5em;
  text-decoration: none;
  border-radius: 0.2em;
  background-color: #333;
  color: #ffffff;
}
.homeItems a:hover{
  background-color: #111;  
}
#list{
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  place-items: center;
  margin-top: 1em;
  color: #ffffff;
}
.itemList{
  width: 10em;
  padding: 0.2em;
  margin-bottom: 0.2em;
  border-radius: 0.2em;  
}
.itemList:hover{
  background-color: #ffffff;
  color: #000;
  cursor: pointer;  
}
/************PAGE CHARACRTERS************/
#main-title{
  display: grid;
  place-items: center;
  font-size: 1.5em;
  font-family: Helvetica;
}
.pageCharacters{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  margin-top: 2em;
  padding: 0em 5em;
}
/************DROPDOWN**************/
#dropDown{
  width: 100%;
  height: 10em;
  display: grid;
  grid-template-rows: auto auto;
  justify-content: space-between;
}
#dropDown select{
  width: 20em;
  height: 3em;
  padding: 0.5em;
  margin-bottom: 1em;
}
#dropDown select::-webkit-scrollbar{
  width: 0.5em;
}
#dropDown select::-webkit-scrollbar-thumb{
  background-color: #757780;
  border-radius: 0.5em;
}
/*********CARDS************/
.descri{
  width: 45em;
  margin: auto;
  margin-bottom: 6em;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  color: #000;
}
.descri img{
  width: 100%;
  height: 100%;
}
.description{
  width: 100%;
  padding: 0.8em;
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  justify-content: center;
  font-family: Helvetica, bold;
}
span{
  margin-right: 1em;
  padding: 0.03em 0.1em;
  font-weight: bold;
  border-radius: 0.1em;
  background-color: #FA914F;
  color: #ffffff;
}
/***************FOOTER****************/
footer{
  width: 100%;
  padding: 1em 0em;
  position: relative;
  top: 10em;
  bottom: 0em;
  transition: 1s ease-in-out;
  transform: translateY(2);
  background-color: #333;
}
.footer-items{
  display: grid;
  place-items: center;
}
.media{
  margin-right: 1em;
  font-size: 1.2em;
  color: #FAFAFF;
  cursor: pointer;
}